.transfers-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: gray;
    padding: 40px 0 70px;
    width: 450px;
}

.transfers-container label, button {
    margin-top: 20px;
}

.transfers-container select, input, textarea {
    width: 200px;
}

.radio-button-container {
    display: flex;
    align-items: baseline;
}

.radio-button-container input {
    width: 40px;
    height: 20px;
}

.transfers-container textarea {
    background-color: gainsboro;
    border-radius: 5px;
    width: 250px;
    height: 200px;
}