.transfers-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: gray;
    padding: 40px 50px 70px;
    width: 350px;
    border-radius: 3px;
}

.transfers-container label, button {
    margin-top: 20px;
}

.transfers-container input {
    width: 220px;
}

.transfers-container select {
    width: 245px;
    height: 40px;
}

.radio-button-container {
    display: flex;
    align-items: baseline;
}

.radio-button-container input {
    width: 40px;
    height: 20px;
}

.transfers-container textarea {
    padding: 0 10px;
    border-radius: 5px;
    width: 220px;
    height: 200px;
}

.buttons-transfers-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.amount-and-arbitration-span {
    width: 240px;
    text-align: start;
    font-size: 12px;
}

@media (max-width: 450px) {
    .transfers-container {
      width: 150px;
    }

    .transfers-container input, textarea {
        width: 150px;
    }
    
    .transfers-container select {
        width: 175px;
    }

    .radio-button-container {
        align-items: center;
    }

    .transfers-container textarea {
        width: 150px;
    }

    .radio-button-container {
        flex-direction: column;
        margin-top: 20px;
    }

    .radio-button-container label {
        margin: 5px 0 15px;
    }

    .buttons-transfers-container {
        flex-direction: column;
    }

    .amount-and-arbitration-span {
        width: 175px;
    }
}