.transfers-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: gray;
    padding: 40px 0 70px;
    width: 450px;
    border-radius: 3px;
}

.transfers-container label, button {
    margin-top: 20px;
}

.transfers-container input, textarea {
    width: 220px;
}

.transfers-container select {
    width: 245px;
    height: 40px;
}

.radio-button-container {
    display: flex;
    align-items: baseline;
}

.radio-button-container input {
    width: 40px;
    height: 20px;
}

.transfers-container textarea {
    padding: 0 10px;
    border-radius: 5px;
    width: 220px;
    height: 200px;
}