.container {
  padding: 0 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logout-button {
  position: fixed;
  margin-top: 0;
  top: 20px;
  right: 10px;
}

h2 {
  text-align: center;
}